extends ./layout

block styles
    link(rel='stylesheet' href='/signup.css')

block content
    .container
        h2 Signup
        form.form#form(action='/signup' method='post')
            .form_item
                input(placeholder='Nickname' name='nickname' required)
            .form_item
                input(placeholder='Login' name='login' required)
            .form_item
                input(type='password' placeholder='Password' name='password' required)
            .form_item
                input(type='password' placeholder='Repeat password' name='password2' required)
            .form_item
                button(type='submit') Submit
