.postsPage_empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postsPage_emptyTitle {
  color: #aaa;
}

.postsPage_post {
  margin-bottom: 12px;
}

.postsPage_post:last-child {
  margin-bottom: 0;
}
