@import "./headerSearch.css";

:root {
  --header-height: 48px;
  --header-text-color: #fff;
  --header-background-color: #c4302b;
}

body {
  padding-top: calc(env(safe-area-inset-top) + var(--header-height));
  padding-bottom: env(safe-area-inset-bottom);
}

.header {
  padding-top: env(safe-area-inset-top);
  color: var(--header-text-color);
  background: var(--header-background-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.header_left {
  display: flex;
  align-items: baseline;
}

.header_right {
  display: flex;
  align-items: center;
}

.header-search .header_left,
.header-search .header_right {
  display: none;
}

.header:not(.header-search) .header_search {
  display: none;
}

.header_searchToggle {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: var(--header-text-color);
  outline: none;
  position: relative;
}

.header_action {
  color: var(--header-text-color);
}

.logo {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--header-text-color);
}

.logo:hover {
  opacity: 1;
}

.logo-action {
  text-decoration: underline;
}

.logo-action:hover {
  opacity: .7;
}

.layout_content {
  padding: 12px 0 40px;
}
