extends ../layout
include ../../mixins/post

block styles
    link(rel='stylesheet' href='/css/posts/index.css')

block content
    .container.postsPage
        each post in posts
            +post(post)
