extends ../layout
include ../../mixins/post

block styles
    link(rel='stylesheet' href='/css/posts/index.css')

block content
    .container.postsPage
        if posts.length > 0
            each post in posts
                +post(post)
        else
            .postsPage_empty
                h1.h1.postsPage_emptyTitle Nothing found
