extends ../layout
include ../../mixins/post

block styles
    link(rel='stylesheet' href='/css/posts/post.css')

block content
    .postsPage
        .container
            +post(post)
            if comments.length || authenticated
                .content.postPage_comments
                    include ../../partials/comments
